Package: ospow-dnsbl-proxy
Version: 2.3
Architecture: amd64
Maintainer: root <gcolangelo@ospow.com>
Installed-Size: 40
Depends: debconf (>= 0.5) | debconf-2.0
Section: unknown
Priority: extra
Homepage: http://ospow.com
Description: Ospow DNSBL Proxy Server
 A lightweight, performant DNSBL Proxy Server written in C using libevent.
 Implements:
  _ A cache mechanism to avoid useless queries
  _ Direct interrogation of DNSBL servers
  _ TXT record to get where IP is listed:
